@import 'button.scss';
@import 'slider-range.scss';

$break-large: 1210px;
$break-medium: 1024px;
$break-tablet: 780px;
$break-small: 450px;

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #e0e0e0;
}

.hide {
	display: none !important;
}

.inTurn {
	transition: all 0.1s ease-in-out;
	border: 5px solid rgba(204, 22, 22, 0.575);
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	text-align: center;
}

.container-custom {
	@media screen and (min-width: 701px) {
		position: absolute;
		top: 42%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media screen and (max-width: 1300px) {
		top: 50%;
	}

	.prev {
		position: absolute;
		top: 50%;
		left: -115px;
		transform: translateY(-50%);

		i {
			font-size: 60px;
			cursor: pointer;
		}
	}

	.option-game {
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;

		@media screen and (max-width: 1300px) {
			grid-template-columns: 1fr 1fr;
			grid-row-gap: 20px;
		}

		@media screen and (max-width: 700px) {
			grid-template-columns: 1fr;
			align-items: center;
			align-content: center;
			align-self: center;
			justify-content: center;
		}

		.option {
			width: 200px;
			height: 300px;
			background-color: #fff;
			padding: 50px;
			border-radius: 30px;
			box-shadow: 0 0 50px 0 rgba(27, 58, 106, 0.1);

			input[type='text'] {
				-webkit-appearance: none;
				border: none;
				outline: none;
				margin-bottom: 40px;
			}

			label {
				position: relative;
				top: 40px;
			}

			label span {
				width: 100%;
				height: 2px;
				background-color: #000;
				position: absolute;
				top: 27px;
				left: 0;
			}

			p {
				font-size: 20px;
				font-weight: bold;
			}

			.picto {
				i {
					font-size: 50px;
				}
			}
		}
	}
}

.container-game {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	table {
		border-collapse: collapse;
		padding-top: 40px;
		width: 500px;
	}

	.playerOne {
		order: 1;
	}
	.playerTwo {
		order: 3;
	}
	.game {
		order: 2;
	}

	.playerOne {
		.avatar {
			img {
				width: 80px;
			}
		}
	}

	.playerTwo {
		.avatar {
			img {
				width: 60px;
			}
		}
	}

	.playerOne,
	.playerTwo {
		width: 150px;
		background-color: #fff;
		padding: 30px;
		border-radius: 30px;
		box-shadow: 0 0 50px 0 rgba(27, 58, 106, 0.1);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		.weapon {
			img {
				width: 50px;
			}
		}

		.name-player {
			p {
				font-size: 25px;
				font-weight: bold;
			}
		}

		.weapon {
			.name,
			.damage {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				position: relative;
				left: 15px;

				img {
					margin-right: 20px;

					@media screen and (max-width: $break-medium) {
						margin-right: 10px;
					}
				}
			}
		}
	}

	.actions {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: 15px;

		.attaque {
			margin-right: 30px;
			background-color: #4267b2;

			&:hover {
				background-color: #37589b;
			}

			@media screen and (max-width: $break-medium) {
				margin-right: 15px;
			}
		}

		.defence {
			background-color: #a6192c;

			&:hover {
				background-color: #8f1424;
			}
		}

		.attaque,
		.defence {
			width: 60px;
			height: 60px;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			cursor: pointer;
		}
		img {
			width: 50px;
		}

		@media screen and (max-width: $break-medium) {
			margin: 0;
			position: relative;
			left: 30px;
		}
	}

	.health {
		margin-top: 20px;
		background-color: #e0e0e0;
		border-radius: 10px;
		width: 100%;
		height: 20px;
		transition: all 0.3s ease-in-out;

		div {
			background-color: rgba(0, 128, 0, 0.288);
			border-radius: 10px;
			width: 100%;
			height: 20px;
			color: white;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			transition: all 0.3s ease-in-out;
		}

		@media screen and (max-width: $break-medium) {
			margin: 0 40px;
			position: relative;
			left: 30px;
		}
	}

	.game {
		margin: 0 30px;
		box-shadow: 0 0 50px 0 rgba(27, 58, 106, 0.1);

		table {
			width: 500px;
			height: 500px;
			td {
				border: 1px solid #928e8e;

				&.inaccessibleCase {
					background-color: rgb(48, 48, 49);
				}

				&.emptyCase {
					background-color: #e0e0e0;
				}

				&.availableMoveCase {
					background-color: rgba(0, 128, 0, 0.288);
					cursor: pointer;

					&:hover {
						background-color: rgba(0, 128, 0, 0.527);
					}
				}

				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				&#playerOne {
					background-image: url('/assets/img/player_1.png');
				}

				&#playerTwo {
					background-image: url('/assets/img/player_2.png');
				}
			}
		}
	}

	@media screen and (max-width: $break-medium) {
		flex-direction: column;

		.playerOne,
		.playerTwo {
			width: 100%;
			flex-direction: row;
			margin: 20px 0;

			.avatar {
				img {
					width: 30px;
				}
			}

			.name-player {
				display: none;
			}

			.weapon {
				display: flex;

				img {
					width: 30px;
				}
			}

			.actions {
				.attaque,
				.defence {
					width: 40px;
					height: 40px;
				}
				img {
					width: 20px;
				}
			}

			.health {
				display: block;
			}
		}
	}
}

.weapon {
	background-size: 100% 100%;

	&.pistolet {
		background-image: url('/assets/img/pistolet.png');
	}

	&.mitraillette {
		background-image: url('/assets/img/mitraillette.png');
	}

	&.pistolet_mitrailleur {
		background-image: url('/assets/img/pistolet_mitrailleur.png');
	}

	&.revolver {
		background-image: url('/assets/img/revolver.png');
	}

	&.fusil {
		background-image: url('/assets/img/fusil.png');
	}

	&.uzi {
		background-image: url('/assets/img/uzi.png');
	}

	&.mitrailleuse {
		background-image: url('/assets/img/mitrailleuse.png');
	}

	&.canon {
		background-image: url('/assets/img/canon.png');
	}
}
